// Place all the styles related to the records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    font-family: Arial;
}

#whois {
    font-size: 0.8em;
    font-family: Arial;
    font-weight: 0;
    background-color: rgba(222, 248, 220, 0.44);
    padding: 1.5%;
    width: 499px;
    min-height: 700px;
}