<table>
  <tr>
    <td>
      <div class="link-button">
          <%= link_to 'new lookup', records_lookup_new_path %>
      </div>
    </td>
    <td>
      <div class="link-button">
          <%= link_to 'iteration two', root_path %>
      </div>
    </td>
    <td>
      <div class="link-button">
          <%= link_to 'save record  ', records_new_path %>
      </div>
    </td>
  </tr>
</table>
<br/>